@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;

	--Blue-1: #3e65c8;
	--Blue-2: #89afef;
	--Blue-3: #d5dae7;
	--Blue-5: #d7e3ff;
	--Green: #333d37;
	--Gray-1: #414549;
	--Gray-2: #686e78;
	--Warm-Gray: #efece4;
	--Warm-White: #fffefd;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@font-face {
	font-family: "fibra-one-bold";
	src: url("/fonts/fibra-one/Fibra\ One\ Bold.otf");
}

@font-face {
	font-family: "fibra-one-semibold";
	src: url("/fonts/fibra-one/Fibra\ One\ SemiBold.otf");
}

/* * {
  border: 1px solid red;
}

div {
  border: 1px solid blue;
} */

body {
	font-family: var(--font-dm-sans);
}
