@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --Blue-1: #3E65C8;
  --Blue-3: #D5DAE7;
  --Blue-5: #D7E3FF;
  --Warm-White: #FFFEFD;
  --Gray-1: #414549;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

/* * {
  border: 1px solid red;
}

div {
  border: 1px solid blue;
} */

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-dm-sans);
}
